*.bin filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
*.gff3 filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text
*.pathway filter=lfs diff=lfs merge=lfs -text
*.gff filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files filter=lfs diff=lfs merge=lfs -text
resources/opennlp-models filter=lfs diff=lfs merge=lfs -text
resources/* filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Gm1.1 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1 filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10/At10.tsv filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr11_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr16_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr3_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/V2.1.gff3 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Gm1.1/Gm1.1_proteinseq.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Gm1.1/Gmax_v1.1_189_gene_exons.gff3 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr17.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chrUn.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10/aracyc_pathways.20140902.pathway filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10/genes.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0/Mt4.tsv filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pvulgaris_218_cds.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pvulgaris_218_transcript.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr10.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr10_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr6.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr15.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr17_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr5_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr8.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10/protein_seq.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr7.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr7_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pvulgaris_218_protein.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr2.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Gm1.1/genes.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0/Mt4.0v1_GenesProteinSeq_20130731_1800.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0/Mt4.0v1_TEs_20130731_1800.gff3 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pv218_proteinseq.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/V2.1.mRNA.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pvulgaris_218_gene_exons.gff3 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr13.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr18_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr19.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10/TAIR10.assembly.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr13_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr18.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr4.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr9_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/V2.1.gene.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/At10/TAIR10_GFF3_genes.gff filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr12.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr14.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr9.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr1_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr11.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr1.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr12_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr16.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr5.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0/genes_and_tes_only.gff3 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pv218.tsv filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/V2.1.coding.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/V2.1.prot filter=lfs diff=lfs merge=lfs -text
resources/example-files/Gm1.1/Gm1.1.tsv filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0/JCVI.Medtr.v4.20130313.fasta filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr4_random.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Gm1.1/Gmax_v1.1_189.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Mt4.0/Mt4.0v1_genes_20130731_1800.gff3 filter=lfs diff=lfs merge=lfs -text
resources/example-files/Pv218/Pvulgaris_218.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/Vv2.1/chr3.fa filter=lfs diff=lfs merge=lfs -text
resources/example-files/*/*/* filter=lfs diff=lfs merge=lfs -text
